{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>New Load</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post>
    <dl>
      <dt>Plane:
			<select name=plane id=plane_dropdown>
				{% for plane in planes %}
					<option value={{plane.plane_id}}>{{ plane.name }}</option>
				{% endfor %}
			</select>
    </dl>
    <div class=actions><input type=submit value="Add load"></div>
  </form>
{% endblock %}
